		<!--Welcome Page -->
		<div id="welcome" class="panel">
			<div class = "level2">
				<h2>Welcome</h2>
				<p>So if you are wondering as 
				to what this is all about , its just a 
				way to let Samiya know how much you
				mean to her . The messages and the images
				that you upload can only be viwed by Samiya
				. So pour out your feelings and upload the most memorable pic
				you have with her :)	</p><br/>

			</div>
			<!-- ... -->
		</div>
		<!-- /welcome -->


<div id="form1" class="panel">
<div class="level2">
<%= form_for @message do |f| %>
<h2 style="font-size: 55px;">Say what you wanna say, on this special day</h2>
<p>Leave behind a birthday message</p>
<br>
<p>
<span class="rowf">
<%= f.label :name,class: "labelf"%>
<%= f.text_field :name,class: "formw" %>
</span>
<br>
<span class="rowf">
<%= f.label :title,class: "labelf" %>
<%= f.text_field :title,class: "formw" %>
</span>
<br>
<span class="rowf">
<%= f.label :content,class: "labelf" %>
<%= f.text_area :content,class: "formw" %>
</span>
<br>
<%= f.submit "Send",class:"btn btn-primary" %>
</p>
<% end %>
</div>
</div >

<div id="header">
<h1> Are you who you claim to be?</h1>
<ul id="navigation">
	<li><a id="link-welcome" href="#welcome" onclick="change(this)">Welcome</a></li>
	<li><a id="link-form1" href="#form1" onclick="change(this)" >Put in your message</a></li>
	
</ul>
</div>

<script type="text/javascript" >
function change(e)
{
$('#header #navigation a').css("background","rgba(0,0,0,0.3)");
e.style.background="#000";
e.style.color="#fff";
}
</script>
