<div id="form1" class="panel">
<div class="level2">
<%= form_for @message do |f| %>
<h2 style="font-size: 55px;">Say what you wanna say, on this special day</h2>
<p>Leave behind a birthday message</p>
<br>
<p>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :content %>
<%= f.text_area :content %>
<br>
<%= f.submit "Send",class:"btn btn-primary" %>
</p>
<% end %>
</div>
</div >

<div id="header">
<h1> Are you who you claim to be?</h1>
<ul id="navigation">
	<li><a id="link-form1" href="#form1" onclick="change(this)" >Put in your message</a></li>
	
</ul>
</div>

<script type="text/javascript" >
function change(e)
{
$('#header #navigation a').css("background","rgba(0,0,0,0.3)");
e.style.background="#000";
e.style.color="#fff";
}
</script>
