		<!--Welcome Page -->
		<div id="welcome" class="panel">
			<div class = "level2">
				<h2>Welcome</h2>
				<p>So if you are wondering as 
				to what this is all about , its just a 
				way to let Samiya know how much you
				mean to her . The messages and the images
				that you upload can only be viwed by Samiya
				. So pour out your feelings and upload the most memorable pic
				you have with her :)	</p><br/>

			</div>
			<!-- ... -->
		</div>
		<!-- /welcome -->

<%= form_for @message do |f| %>
<div id="form1" class="panel">
<div class="level2">

<h2 style="font-size: 55px;">Say what you wanna say, on this special day</h2>
<p>Leave behind a birthday message</p>
<br>
<p>
<span class="rowf">
<span class="labelf"><%= f.label :name %></span>
<span class="formw"><%= f.text_field :name %></span>
</span>
<br>
<span class="rowf">
<span class="labelf"><%= f.label :title, 'Known as' %> </span>
<span class="formw"><%= f.text_field :title %></span>
</span>
<br>
<br>
<br>
<span class="rowf">
<%= f.label :content,class: "labelf" %>
<%= f.text_area :content,class: "formw" %>
</span>
<br>

</p>

</div>
</div >

<div id="form2" class="panel">
<div class="level2">
<h2>Got a special picture ? </h2>
<p>
<span class="row">
<span>Do you want to upload an image ?</span> <span><%= f.check_box :image_present %> </span>
</span>
<br><br>
<span class="row">
<span >Select an image: </span> <span><%= f.file_field :image %></span><br>
</span>
</p>
</div>
</div>

<div id="done" class="panel">
<div class="level2">
<h2>You are done !</h2>
<p>Thank you for taking the time. If you are done, go ahead !<br>
<%= f.submit "Send",class:"btn btn-primary" %>
</p>

</div>
</div>

<% end %>

<div id="header">
<h1> What you gotta say</h1>
<ul id="navigation">
	<li><a id="link-welcome" href="#welcome" onclick="change(this)">Welcome</a></li>
	<li><a id="link-form1" href="#form1" onclick="change(this)" >Put in your message</a></li>
	<li><a id="link-form2" href="#form2" onclick="change(this)" >Image</a></li>
	<li><a id="link-done" href="#done" onclick="change(this)" >Done</a></li>
</ul>
</div>

<script type="text/javascript" >
function change(e)
{
$('#header #navigation a').css("background","rgba(0,0,0,0.3)");
e.style.background="#000";
e.style.color="#fff";
}
</script>
