<%= stylesheet_link_tag 'homeindex' %>
<div class="row">
<div class="col-sm-1 col-md-2">
</div>
<div class="row">
	<div class="col-sm-10 col-md-8" style="background:url(<%= image_path 'pikachu.jpg' %>) no-repeat">
		<br/><br/><br/>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	    <li data-target="#myCarousel" data-slide-to="4"></li>
	    <li data-target="#myCarousel" data-slide-to="5"></li>
	    <li data-target="#myCarousel" data-slide-to="6"></li>
	  </ol>
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
		<center>
	      <img src="<%= image_path 'samiya_baby.jpg' %>" height="750" width="750"/ >
		</center>
	    </div>

	    <div class="item">
		<center>
	      <img src="<%= image_path 'samiya_hbd.jpg' %>" height="750" width="750"/>
		</center>
	    </div>
	    <div class="item">
		<center>
	      <img src="<%= image_path 'samiya_quoet.jpg' %>" height="750" width="750"/ >
		</center>
	    </div>
	    <div class="item">
		<center>
	      <img src="<%= image_path 'sam_champ_new.jpg' %>" height="750" width="300"/ >
		</center>
	    </div>
	    <div class="item">
		<center>
	      <img src="<%= image_path 'samiya_saree.jpg' %>" height="750" width="300"/ >
		</center>
	    </div>
	    <div class="item">
		<center>
	      <img src="<%= image_path 'samiya_act.jpg' %>" height="750" width="750"/>
		</center>
	    </div>

	    <div class="item">
		<center>
	      <img src="<%= image_path 'samiya.jpg' %>" height="750" width="750"/ >
		</center>
	    </div>
 	 </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div><!-- carousel -->
</div><!-- second columns -->
<div class="row">
<div class="col-sm-1 col-md-2">
</div>
</div>
